html{
	font-family: Verdana, Geneva, sans-serif;
}
body{
	margin: 0;
	padding: 0;
	background: url(home.jpg);
}
.column {
  float: left;
  padding: 10px;
  height: 5000px; /* Should be removed. Only for demonstration */
  color: #17202A;
}

.left, .right {
    width: 20%
}
.right {
    float: right;
}

.middle {
  width: 54.9%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#header{
	background-color: #17202A;
	padding: 20px;
	margin: 0;
}
.header_links:link{
    text-decoration: none;
    color: #E5E8E8; 
    padding: 18px 20px;
    font-weight: 525;
    font-size: 16px;
    transition: 0.3s;
    text-align: center;
}
.header_links:visited {
    color: #E5E8E8;
}
.header_links:hover, .header_links:active, .header_links:focus{
    color: #e15b00;
    transition-duration: 0.3s;
}
.eves {
  background-color: #E5E8E8; 
  color: #17202A; 
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  align-items: center;
  height: auto;
  border-radius: 10px;
  height: auto;
  width: auto;
}
h3 {
  border-bottom: solid 4px #17202A;
}

button {
  margin: 0;
  width: 160px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
.submit {
  background: #17202A;
  text-transform: uppercase;
}
.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: auto;
  margin: 30px auto 100px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}


label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
/*label span {
  font-size: 12px;
  color: #17202A;
  text-transform: uppercase;
  font-weight: 500;
}*/

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

td,th,tr {
  width: 300px;
  text-align: center;
  height: 30px;
}